@font-face {
    font-family: digital;
    src: url(DigitalNumbers-Regular.ttf);
}

body:not(.dark) {
    --color-background: white;
    --color-text: black;

    --color-tipbox-border: cornflowerblue;
    --color-tipbox-background: lightblue;

    --color-timer-border: crimson;

    --color-button-border: goldenrod;
    --color-button-background: gold;

    --color-settings-border: black;
    --color-settings-background: white;
}

body.dark {
    --color-background: black;
    --color-text: white;

    --color-tipbox-border: mediumblue;
    --color-tipbox-background: midnightblue;

    --color-timer-border: maroon;

    --color-button-border: chocolate;
    --color-button-background: saddlebrown;

    --color-settings-border: white;
    --color-settings-background: black;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

.hidden {
    display: none!important;
}

#time-input {
    font-family: monospace;
    width: 5ch;
}

.tipbox {
    margin: 8px;
    border: 2px solid var(--color-tipbox-border);
    border-radius: 8px;
    padding: 8px;
    background-color: var(--color-tipbox-background);
}

#timer {
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#timer-container {
    border: 8px solid var(--color-timer-border);
    border-radius: 30px;
    width: 50vw;
    min-width: 400px;
    font-size: 5em;
    display: block;
    letter-spacing: 0.25em;
    text-align: center;
}

#timer-container code {
    font-family: digital, monospace;
}

#timer-button {
    margin: 16px;
    clip-path: circle();
    width: 75px;
    height: 75px;
    border: 5px outset var(--color-button-border);
    border-radius: 50px;
    background-color: var(--color-button-background);
}

#timer-button:active {
    border-style: inset;
}

#total-timer {
    position: absolute;
    bottom: 32px;
}

#settings {
    max-height: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: right;
}

#settings button {
    border: 1px solid var(--color-settings-border);
    background-color: var(--color-settings-background);
    color: var(--color-text);
}